Repository Daylist-iOS/Daylist-iOS, pull requests merged in 2022-06, with the labels that each got.

#2 Feat/#1 shared view
  Daylist/Daylist.xcodeproj/project.pbxproj
  Daylist/Daylist/Global/Enum/CDPlayerType.swift
  Daylist/Daylist/Global/Enum/NaviType.swift
  Daylist/Daylist/Global/Extension/UIColor+.swift
  Daylist/Daylist/Global/Extension/UIViewController+.swift
  Daylist/Daylist/Screen/Add/ViewController/AddVC.swift
  Daylist/Daylist/Screen/Share/CDPlayer/CDPlayerView.swift
  Daylist/Daylist/Screen/Share/NavigationBar/NavigationBar.swift
  Daylist/Daylist/Support/Assets.xcassets/AppIcon.appiconset/Contents.json
  Daylist/Daylist/Support/Assets.xcassets/Edit.imageset/Contents.json
  Daylist/Daylist/Support/Assets.xcassets/Edit.imageset/Edit.png
  Daylist/Daylist/Support/Assets.xcassets/Youtube.imageset/Contents.json
  Daylist/Daylist/Support/Assets.xcassets/Youtube.imageset/Youtube.png
  Daylist/Daylist/Support/Assets.xcassets/playerBase.imageset/Contents.json
  Daylist/Daylist/Support/Assets.xcassets/playerBase.imageset/playerBase.png
  Daylist/Daylist/Support/Assets.xcassets/playerCenter.imageset/Contents.json
  Daylist/Daylist/Support/Assets.xcassets/playerCenter.imageset/playerCenter.png
  Daylist/Daylist/Support/Info.plist
Labels: 윤경, Feature, View

#10 [HOTFIX] apikey, asset 수정
  .gitignore
  Daylist/Daylist/Support/Assets.xcassets/PlayerBase.imageset/Contents.json
  Daylist/Daylist/Support/Assets.xcassets/PlayerBase.imageset/PlayerBase.png
  Daylist/Daylist/Support/Assets.xcassets/PlayerCenter.imageset/Contents.json
  Daylist/Daylist/Support/Assets.xcassets/PlayerCenter.imageset/PlayerCenter.png
Labels: 윤경, HotFix

#11 [FEAT] embed view
  Daylist/Daylist.xcodeproj/project.pbxproj
  Daylist/Daylist/Global/Enum/EmotionType.swift
  Daylist/Daylist/Global/Extension/UIButton+.swift
  Daylist/Daylist/Global/Extension/UIColor+.swift
  Daylist/Daylist/Screen/Add/Cell/EmotionCVC.swift
  Daylist/Daylist/Screen/Add/Cell/YoutubeSearchTVC.swift
  Daylist/Daylist/Screen/Add/Model/EmbedModel.swift
  Daylist/Daylist/Screen/Add/ViewController/AddVC.swift
  Daylist/Daylist/Screen/Add/ViewController/EmbedSelectVC.swift
  Daylist/Daylist/Screen/Add/ViewController/EmbedVC.swift
  Daylist/Daylist/Screen/Add/ViewController/YoutubeSearchVC.swift
  Daylist/Daylist/Screen/Add/ViewModel/AddVM.swift
  Daylist/Daylist/Screen/Add/ViewModel/EmbedVM.swift
  Daylist/Daylist/Screen/Add/ViewModel/YoutubeSearchVM.swift
  Daylist/Daylist/Support/Assets.xcassets/EmotionUnSelected.imageset/EmotionUnSelected.png
  Daylist/Daylist/Support/Assets.xcassets/New Folder/Comfortable.imageset/Comfortable.png
  Daylist/Daylist/Support/Assets.xcassets/New Folder/Comfortable.imageset/Contents.json
  Daylist/Daylist/Support/Assets.xcassets/New Folder/Comfortable_UnSelected.imageset/Comfortable_UnSelected.png
  Daylist/Daylist/Support/Assets.xcassets/New Folder/Comfortable_UnSelected.imageset/Contents.json
  Daylist/Daylist/Support/Assets.xcassets/New Folder/Contents.json
  Daylist/Daylist/Support/Assets.xcassets/New Folder/Flutter.imageset/Contents.json
  Daylist/Daylist/Support/Assets.xcassets/New Folder/Flutter.imageset/Flutter.png
  Daylist/Daylist/Support/Assets.xcassets/New Folder/Flutter_UnSelected.imageset/Contents.json
  Daylist/Daylist/Support/Assets.xcassets/New Folder/Flutter_UnSelected.imageset/Flutter_UnSelected.png
  Daylist/Daylist/Support/Assets.xcassets/New Folder/Happy.imageset/Contents.json
  Daylist/Daylist/Support/Assets.xcassets/New Folder/Happy.imageset/Happy.png
  Daylist/Daylist/Support/Assets.xcassets/New Folder/Happy_UnSelected.imageset/Contents.json
  Daylist/Daylist/Support/Assets.xcassets/New Folder/Happy_UnSelected.imageset/Happy_UnSelected.png
  Daylist/Daylist/Support/Assets.xcassets/New Folder/NotGood.imageset/Contents.json
  Daylist/Daylist/Support/Assets.xcassets/New Folder/NotGood.imageset/NotGood.png
  Daylist/Daylist/Support/Assets.xcassets/New Folder/NotGood_UnSelected.imageset/Contents.json
  Daylist/Daylist/Support/Assets.xcassets/New Folder/NotGood_UnSelected.imageset/NotGood_UnSelected.png
  Daylist/Daylist/Support/Assets.xcassets/New Folder/Sad.imageset/Contents.json
  Daylist/Daylist/Support/Assets.xcassets/New Folder/Sad.imageset/Sad.png
  Daylist/Daylist/Support/Assets.xcassets/New Folder/Sad_UnSelected.imageset/Contents.json
  Daylist/Daylist/Support/Assets.xcassets/New Folder/Sad_UnSelected.imageset/Sad_UnSelected.png
  Daylist/Podfile
  Daylist/Podfile.lock
Labels: 윤경, Feature, Network, View

#14 [FEAT] 홈 캘린더뷰(메인뷰) 구현
  Daylist/Daylist.xcodeproj/project.pbxproj
  Daylist/Daylist/Global/Class/BaseCollectionViewCell.swift
  Daylist/Daylist/Global/Class/BaseNavigationController.swift
  Daylist/Daylist/Global/Enum/CDPlayerType.swift
  Daylist/Daylist/Global/Enum/CalendarCalculateType.swift
  Daylist/Daylist/Global/Enum/CalendarSummaryType.swift
  Daylist/Daylist/Global/Enum/EmotionType.swift
  Daylist/Daylist/Global/Extension/String.swift
  Daylist/Daylist/Global/Extension/UIColor+.swift
  Daylist/Daylist/Global/Extension/UIView+.swift
  Daylist/Daylist/Screen/Home/Cell/DayCVC.swift
  Daylist/Daylist/Screen/Home/Cell/WeekCVC.swift
  Daylist/Daylist/Screen/Home/Model/HomeModel.swift
  Daylist/Daylist/Screen/Home/Model/Request/CalendarRequestModel.swift
  Daylist/Daylist/Screen/Home/Model/Response/CalendarDataResponse.swift
  Daylist/Daylist/Screen/Home/Model/Response/CalendarSummaryModel.swift
  Daylist/Daylist/Screen/Home/ViewController/HomeNC.swift
  Daylist/Daylist/Screen/Home/ViewController/HomeVC.swift
  Daylist/Daylist/Screen/Home/ViewModel/HomeVM.swift
  Daylist/Daylist/Screen/Share/CDPlayer/CDPlayerView.swift
  Daylist/Daylist/Screen/Share/CalendarSummaryView/CalendarSummaryView.swift
  Daylist/Daylist/Support/AppDelegate.swift
  Daylist/Daylist/Support/Assets.xcassets/btn_add.imageset/Contents.json
  Daylist/Daylist/Support/Assets.xcassets/btn_add.imageset/Group 121@1x.png
  Daylist/Daylist/Support/Assets.xcassets/btn_add.imageset/Group 121@2x.png
  Daylist/Daylist/Support/Assets.xcassets/btn_add.imageset/Group 121@3x.png
  Daylist/Daylist/Support/Assets.xcassets/btn_after.imageset/Contents.json
  Daylist/Daylist/Support/Assets.xcassets/btn_after.imageset/btn_after.png
  Daylist/Daylist/Support/Assets.xcassets/btn_after.imageset/btn_after@2x.png
  Daylist/Daylist/Support/Assets.xcassets/btn_after.imageset/btn_after@3x.png
  Daylist/Daylist/Support/Assets.xcassets/btn_before.imageset/Contents.json
  Daylist/Daylist/Support/Assets.xcassets/btn_before.imageset/btn_before.png
  Daylist/Daylist/Support/Assets.xcassets/btn_before.imageset/btn_before@2x.png
  Daylist/Daylist/Support/Assets.xcassets/btn_before.imageset/btn_before@3x.png
  Daylist/Daylist/Support/Assets.xcassets/btn_search.imageset/Contents.json
  Daylist/Daylist/Support/Assets.xcassets/btn_search.imageset/Group.png
  Daylist/Daylist/Support/Assets.xcassets/btn_search.imageset/Group@2x.png
  Daylist/Daylist/Support/Assets.xcassets/btn_search.imageset/Group@3x.png
  Daylist/Daylist/Support/Assets.xcassets/btn_settings.imageset/Contents.json
  Daylist/Daylist/Support/Assets.xcassets/btn_settings.imageset/Settings.png
  Daylist/Daylist/Support/Assets.xcassets/btn_settings.imageset/Settings@2x.png
  Daylist/Daylist/Support/Assets.xcassets/btn_settings.imageset/Settings@3x.png
  Daylist/Daylist/Support/Assets.xcassets/dayCell_empty.imageset/Contents.json
  Daylist/Daylist/Support/Assets.xcassets/dayCell_empty.imageset/Rectangle 306.png
  Daylist/Daylist/Support/Assets.xcassets/dayCell_empty.imageset/Rectangle 306@2x.png
  Daylist/Daylist/Support/Assets.xcassets/dayCell_empty.imageset/Rectangle 306@3x.png
  Daylist/Daylist/Support/Assets.xcassets/dayCell_fill.imageset/Contents.json
  Daylist/Daylist/Support/Assets.xcassets/dayCell_fill.imageset/Group 72.png
  Daylist/Daylist/Support/Assets.xcassets/dayCell_fill.imageset/Group 72@2x.png
  Daylist/Daylist/Support/Assets.xcassets/dayCell_fill.imageset/Group 72@3x.png
  Daylist/Daylist/Support/Assets.xcassets/stylus.imageset/Contents.json
  Daylist/Daylist/Support/Assets.xcassets/stylus.imageset/Group 233.png
  Daylist/Daylist/Support/Assets.xcassets/stylus.imageset/Group 233@2x.png
  Daylist/Daylist/Support/Assets.xcassets/stylus.imageset/Group 233@3x.png
Labels: 지은, Feature, View

#19 [ADD] 화면 연결
  Daylist/Daylist.xcodeproj/project.pbxproj
  Daylist/Daylist/Global/Class/BaseNavigationController.swift
  Daylist/Daylist/Global/Extension/UIApplication+.swift
  Daylist/Daylist/Global/Extension/UIWindow+.swift
  Daylist/Daylist/Screen/Add/ViewController/AddNC.swift
  Daylist/Daylist/Screen/Home/ViewController/HomeVC.swift
  Daylist/Daylist/Screen/Setting/ViewController/SettingNC.swift
  Daylist/Daylist/Support/AppDelegate.swift
Labels: 윤경, Feature, View

#20 [FEAT] 검색 뷰 구현
  Daylist/Daylist.xcodeproj/project.pbxproj
  Daylist/Daylist/Global/Class/BaseViewController.swift
  Daylist/Daylist/Global/Extension/UITableView+.swift
  Daylist/Daylist/Screen/Home/ViewController/HomeVC.swift
  Daylist/Daylist/Screen/Search/Cell/SearchTVC.swift
  Daylist/Daylist/Screen/Search/Model/DataSource/DataSourceSearch.swift
  Daylist/Daylist/Screen/Search/Model/Request/SearchDataRequest.swift
  Daylist/Daylist/Screen/Search/Model/Response/SearchDataResponse.swift
  Daylist/Daylist/Screen/Search/ViewController/SearchVC.swift
  Daylist/Daylist/Screen/Search/ViewModel/SearchVM.swift
  Daylist/Daylist/Screen/Share/CDPlayer/CDPlayerView.swift
  Daylist/Daylist/Screen/Share/CalendarSummaryView/CalendarSummaryView.swift
Labels: 지은, Feature, Network, View

#22 [FEAT] 데일리스트 상세뷰 구현
  Daylist/Daylist.xcodeproj/project.pbxproj
  Daylist/Daylist/Screen/Detail/Model/Request/DetailRequestModel.swift
  Daylist/Daylist/Screen/Detail/Model/Response/DetailResponseModel.swift
  Daylist/Daylist/Screen/Detail/ViewController/DetailVC.swift
  Daylist/Daylist/Screen/Detail/ViewModel/DetailVM.swift
  Daylist/Daylist/Screen/Home/ViewController/HomeVC.swift
  Daylist/Daylist/Screen/Home/ViewModel/HomeVM.swift
  Daylist/Daylist/Screen/Search/ViewController/SearchVC.swift
  Daylist/Daylist/Screen/Share/NavigationBar/NavigationBar.swift
  Daylist/Daylist/Support/Assets.xcassets/btn_more.imageset/Contents.json
  Daylist/Daylist/Support/Assets.xcassets/btn_more.imageset/btn_more.png
  Daylist/Daylist/Support/Assets.xcassets/btn_more.imageset/btn_more@2x.png
  Daylist/Daylist/Support/Assets.xcassets/btn_more.imageset/btn_more@3x.png
Labels: 지은, Feature, Network, View
